#aboutme #abt {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  text-indent: 3em;
}
#aboutme #abt #list {
  list-style-type: none;
  padding: 0;
}
#aboutme #abt #list li {
  display: inline-block;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}
#aboutme #abt #list li img {
  height: 3em;
}
#aboutme #abi {
  display: inline-block;
  width: 20%;
  margin-left: 10%;
}
#aboutme #abi #portrait {
  vertical-align: bottom;
  width: 100%;
}