html, body {
  margin: 0;
  font-family: Roboto;
}

nav#top_container {
  background-color: #0f0f0f;
  display: block;
  height: 40px;
}
nav#top_container #logo {
  display: inline-block;
  background-color: #ffee00;
  height: 45px;
  width: 45px;
  margin-left: 2%;
}
nav#top_container #logo h1 {
  margin: 0;
  text-align: right;
  margin-top: 22.5px;
  font-size: 20.25px;
  margin-right: 2.25px;
}
nav#top_container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
nav#top_container ul a {
  margin: 0;
  padding: 0;
  display: inline-block;
}
nav#top_container ul a li {
  height: 30px;
  margin: 0;
  display: inline-block;
  padding: 5px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  vertical-align: top;
}
nav#top_container ul a li img {
  height: inherit;
}
nav#top_container ul a .separator {
  width: 1px;
  display: inline-block;
  background-color: #777;
  margin-top: 8px;
  height: 24px;
  vertical-align: top;
}
nav#top_container ul a:hover {
  background-color: #30302f;
}
nav#top_container ul a:first-child {
  margin-left: 10px;
}

#main_body {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}