extends super_template

block body
    h1 Sign In
    #signin.marg5
        - if(error)
            p(style="color:red") #{error}
        form(action="/account/signin" method="post")
            label(for="user") User:
            br
            input(type="text", name="user")
            br
            br
            label(for="pwd") Password:
            br
            input(type="password", name="pwd")
            br
            br
            button(type="submit") Sign in
            br
            p Don't have an account? 
                a(href="/account/signup") Sign Up