<!DOCTYPE html>
html(lang="en")
    head
        title David Gutierrez
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
        <link rel="apple-touch-icon" sizes="57x57" href="/imgs/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/imgs/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/imgs/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/imgs/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/imgs/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/imgs/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/imgs/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/imgs/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/imgs/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/imgs/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/imgs/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon/favicon-16x16.png">
        <link rel="manifest" href="/imgs/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/imgs/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        block head
    body
        nav#top_container
            #logo
                h1 DG
            ul
                li 
                    a(href="/") Home
                    .separator
                li 
                    a(href="/projects") Projects
                    ul.dropdown
                        li 
                            a(href="/projects/dia") Dia
                        li 
                            a(href="/projects/tw") This Website
                        li 
                            a(href="/projects/ml") Machine Learning
                    .separator
                li 
                    a(href="/aboutme") About Me
                    .separator
                li
                    a(href="https://github.com/davidagtz/DG-Website" alt="Link to my GitHub")
                        img(src="/imgs/github.png")
                    .separator
                li
                    - if(account)
                        a(href="/account") #{account.user}
                    - else
                        a(href="/account/signin") Sign in
        #main_body
            block body
        #footer
            span Contact Me:
            br
            span Email: david.a.gutierrez99@gmail.com
            br
            span Tel: (832) 863-3566