html
    head
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        block head
    body
        #top_container
            nav
                ul
                    a(href="/")
                        li Home
                    a(href="/projects")
                        li Projects
                    a(href="/aboutme")
                        li About Me
                    a(href="/contactme")
                        li Contact Me
        block body