html
    head
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        block head
    body
        nav#top_container
            #logo
                h1 DG
            ul
                a(href="/")
                    li Home
                    .separator
                a(href="/projects")
                    li Projects
                    .separator
                a(href="/aboutme")
                    li About Me
                    .separator
                a(href="/contactme")
                    li Contact Me
        block body