html
    head
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        block head
    body
        nav#top_container
            #logo
                h1 DG
            ul
                a(href="/")
                    li Home
                    .separator
                a(href="/projects")
                    li Projects
                    .separator
                a(href="/aboutme")
                    li About Me
                    .separator
                a(href="https://github.com/davidagtz/DG-Website")
                    li
                        img(src="/imgs/github.png")
        #main_body
            block body
        #footer
            span Contact Me:
            br
            span Email: david.a.gutierrez99@gmail.com
            br
            span Tel: (832) 863-3566