html, body
    margin: 0
    font-family: Roboto

nav#top_container
    $nav_height: 30px
    $li_pad: 5px
    background-color: #0f0f0f
    display: block
    height: $nav_height + 2 * $li_pad
    #logo
        $logo_height: $nav_height + 3 * $li_pad
        display: inline-block
        background-color: #ffee00
        height: $logo_height
        width: $logo_height
        margin-left: 2%
        h1
            margin: 0
            text-align: right
            margin-top: $logo_height * .5
            font-size: $logo_height * .45
            margin-right: $logo_height * .05
            font-family: Ubuntu
            font-weight: bold
    ul
        list-style-type: none
        padding: 0
        margin: 0
        display: inline-block
        white-space: nowrap
        vertical-align: top
        overflow: hidden
        li
            margin: 0
            padding: 0
            display: inline-block
            a
                height: $nav_height 
                margin: 0
                display: inline-block
                padding: $li_pad
                color: #fff
                text-align: center
                line-height: $nav_height
                vertical-align: top
                text-decoration: none
                img
                    height: inherit
            .dropdown
                display: none
            .separator
                width: 1px
                display: inline-block
                background-color: #777
                margin-top: $nav_height * .1 + $li_pad
                height: $nav_height * .8
                vertical-align: top
            .h_seperator
                height: 1px
                display: block
                background-color: #777
                width: inherit
            &:hover
                background-color: #30302f
                .dropdown
                    background-color: #131313
                    display: block
                    position: absolute
                    padding: 0
                    z-index: 1
                    li
                        display: block
                        margin: 0
                        a
                            margin: 0
                            padding: 2 * $li_pad
                            display: block
                            text-align: left
            &:first-child
                margin-left: 2 * $li_pad

#main_body
    $mr: 5%
    width: 100% - 2 * $mr
    margin-left: $mr
    margin-top: 10px

#footer
    display: block
    text-align: center
    color: #555